# mod_rewrite starts here

RewriteEngine on

# does not apply to existing directories

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory with .html ext

RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we show the page

RewriteRule ^(.*)$ $1.html [NC,L]